<!-- Header -->

<header id="header">
  <div class="inner">
    <a href="index.html" class="logo">Inicio</a>
    <h3>Bem vindo {{nome}}</h3>
    <h3>
    <nav id="nav">
      <a routerLink="/home">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/contato">Contato</a>
      <a routerLink="/noticiasFront">Noticias</a>
    </nav>
  </h3>
    <a href="#navPanel" class="navPanelToggle">
      <span class="fa fa-bars"></span>
    </a>
  </div>
</header>


<!---
<tr> <div>
      <td *ngIf="checklogin.length!=0">
        <nav id="nav">
          <a routerLink="/home">Home</a>
          <a routerLink="/login">Login</a>
          <a routerLink="/contato">Contato</a>
          <a routerLink="/projetos">Projetos</a>
          <a routerLink="/homelogin">HomeLogin</a>
          <a routerLink="/documentos">Documentos</a>
          <a routerLink="/despesas">Despesas</a>
          <a routerLink="/noticias">Noticias</a>
          <a routerLink="/noticiasFront">NoticiasFront</a>

        </nav>
      </td>
    </div>
      Nenhuma Noticias lançada</td>
    <td *ngIf="listaNoticias.length!=0">
        {{listaNoticias.length}}
    </td>
    <td colspan="2">Total de Noticias</td>
  </tr>
   <nav id="nav">
        <a routerLink="/home">Home</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/contato">Contato</a>
        <a routerLink="/noticiasFront">NoticiasFront</a>
      </nav>
-->