<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>Projetos</h2>
            <br>
            <hr class="major" />

            <div *ngFor="">
                <!-- projeto -->
                <span class="image fit">
                    <img src="images/pic01.jpg" alt="" />
                </span>

                <h2 id="content">{{projeto.titulo}}</h2>
                <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing
                    nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna
                    tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu
                    metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing
                    adipiscing.</p>
                <br>
                <hr class="major" />
            </div>

            <!-- projeto -->

            <!-- projeto -->
            <span class="image fit">
                <img src="images/pic01.jpg" alt="" />
            </span>

            <h2 id="content">O monte do IMALAIA</h2>
            <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh
                porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus
                adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent
                turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>
            <!-- projeto -->
        </header>
    </div>
</section>