.imagens{
    margin-left:25rem;
    width: 25rem
}
th{
    color: black;
}
td{
    color: black;
}
tr{
    color: black;
}
a{
    color: black;
}
.texto{
    text-align: left;

}
h4{
    color: black;
    text-align: center
}
h2{
    color: black;
    text-align: center
}