<section id="banner">
    <h1> Intranet</h1>
  <p>Criado pela CC da IMED.</p>
</section>
<h2>Central de Paginas</h2>

  <a _ngcontent-c3="" class="button special" [routerLink]="['/home']">Home</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/login']">Login</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/contato']">Contato</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/contatos']">Contatos</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/homelogin']">HomeLogin</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/documentos']">Documentos</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/despesas']">Despesas</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/noticias']">Noticias</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/usuarios']">Usuarios</a>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/noticiasFront']">Noticias Publicas</a>

  <br> <br>

<td>
  <a _ngcontent-c3="" class="button special" href="#">Drive com Documentos</a>

</td>


  <br> <br>



<div>
  <h2>Paginas de controle e relatórios de cadastro e registros.
    </h2>
  <td>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/noticias']">Noticias</a>
</td>

<td>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/despesas']">Despesas</a>
</td>

<td>
  <a _ngcontent-c3="" class="button special" [routerLink]="['/documentos']">Documentos</a>
</td>

<td> 
  <a _ngcontent-c3="" class="button special" [routerLink]="['/contatos']">Contatos</a>
</td>



</div>
